<ng-container *ngIf="cartList.length !== 0">
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th style="width: 95px;">Product Id</th>
                    <th style="width: 125px;">Product Name</th>
                    <th>Product Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let cart of cartList">
                    <td class="data">{{cart.id}}</td>
                    <td>{{cart.title}}</td>
                    <td class="data"><img src="{{cart.image}}" class="cart-img" alt=""></td>
                    <td>{{cart.description}}</td>
                    <td class="data">{{cart.price}}</td>
                    <td class="data">{{cart.quantity}}</td>
                    <td class="data">{{cart.price * cart.quantity}}</td>
                    <td class="data">
                        <i (click)="removeCartItem(cart.id)" class='fas fa-trash-alt'
                            style='font-size:22px;color:red'></i>
                    </td>
                </tr>
        </tbody>
        </table>

        <button class="btn btn-danger three" (click)="emptyCart()">Empty Cart</button>
        <button routerLink="/products" class="btn btn-primary three">Shop More</button>
        <button class="btn btn-success three">Checkout</button>

    </div>
</ng-container>


<!-- empty card code -->
<ng-container *ngIf="cartList.length === 0">
    <div class="card">
        <h5 class="common">My Cart</h5>
        <img src="https://www.kindpng.com/picc/m/174-1749396_empty-cart-your-cart-is-empty-hd-png.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text common">Add item to it now</p>
            <button routerLink="/products" class="btn btn-primary">Shop now</button>
        </div>
    </div>
</ng-container>